.myContent {
    margin-top: 80px;
}

.myDetail{

}

.navContainer {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.productContent {
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    background-color: white;
    min-height: 800px;
}

.navCategories {
    margin: 15px;
}

.lightRed {
    background-color: #EFF8FB;
}

.myBreadCrumb {
    margin-top: 20px;
}

.label-red{
    color: firebrick;
}
.custom {
    width: 230px !important;
    height: 90px !important;
    margin:20px auto;
    border-radius:10px;
    -webkit-border-radius:10px;
    text-align: center;
    line-height: 65px;
}

.cart-img {
    width: 50px;
    height: 100px;
}

.cart-content {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px){
    .productContent {
        margin-left: 40px;
        margin-right: 40px;
        min-height: 500px;
    }
}