<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title th:text="#{admin.add}"></title>
    <div th:insert="~{fragments :: connect}"/>
</head>
<body class="lightRed">
<div th:insert="~{fragments :: header}"></div>
<div class="myContent">
    <div class="productContent">

        <nav class="navbar navbar-default">
            <div class="navContainer">
                <div class="navbar-header">
                    <div class="navbar-brand" th:text="#{admin.add}"></div>
                    <div class="navbar-brand" th:text="#{admin.first}"></div>
                    <div class="navbar-brand" th:text="#{admin.second}"></div>
                    <div class="navbar-brand" th:text="#{admin.third}"></div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="col-lg-3 col-lg-offset-3">
                <form method="POST" th:action="@{/admin/add-product/third}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" type="file" name="file"/><br/>
                        <input class="btn btn-primary" type="submit" th:value="#{save}"/>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>