<head xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/main_page}">Megumin</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" th:placeholder="#{search}">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></span></button>
                    </form> -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false" th:text="#{language}">Lang<span class="caret"></span></a>
                            <ul class="dropdown-menu" th:with="currentUrl=(${#httpServletRequest.requestURI})">
                                <li><a th:href="@{?language=ru_RU}">RU</a></li>
                                <li><a th:href="@{?language=en_US}">EN</a></li>
                            </ul>
                        </li>

                        <li sec:authorize="${hasAuthority('USER')}">
                            <a th:href="@{/user/cart}">
                                <span class="glyphicon glyphicon-shopping-cartContent" aria-hidden="true"></span>
                                <span th:text="#{cart}">Cart</span>
                                <span class="badge">
                                    <div id="amountProductsInCart" th:text="${countProductInCart}">00</div>
                                </span>
                            </a>
                        </li>
                        <li class="dropdown" sec:authorize="${hasAuthority('USER')}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               th:text="${#authentication.getPrincipal().getUsername()}"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:text="#{user.logout}" th:href="@{/logout}">Logout</a></li>
                                <li><a th:text="#{user.profile}" th:href="@{/user/profile}">Profile</a></li>
                                <li><a th:text="#{user.myOrders}" th:href="@{/user/my-orders}">My orders</a></li>
                            </ul>
                        </li>

                        <li sec:authorize="${hasAuthority('ADMIN')}">
                            <a th:href="@{/admin/add-product/first}">
                                <span class="glyphicon glyphicon-shopping-cartContent" aria-hidden="true"></span>
                                <span th:text="#{admin.add}">Add product</span>
                            </a>
                        </li>

                        <li sec:authorize="${hasAuthority('ADMIN')}">
                            <a th:href="@{/admin/users/get-all}">
                                <span class="glyphicon glyphicon-shopping-cartContent" aria-hidden="true"></span>
                                <span th:text="#{admin.users}">Users</span>
                            </a>
                        </li>

                        <li class="dropdown" sec:authorize="${hasAuthority('ADMIN')}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               th:text="${#authentication.getPrincipal().getUsername()}"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout" th:text="#{user.logout}">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div th:fragment="navbar-default">
        <nav class="navbar navbar-default">
            <div class="navContainer">
                <div class="navbar-form navbar-left navCategories" th:each="category : ${categories}">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{'/category/' + ${category.id} + '?page=1'}"
                           th:text="${category.name}">Category</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div th:fragment="connect">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/resources/css/style.css}">
        <script src="/resources/js/functions.js"></script>
    </div>
</head>