<head xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="year">
        <div class="panel panel-default">
            <div class="panel-body">
                <span th:text="#{filter.year}">Year</span>
                <div class="checkbox">
                    <label>
                        <input class="filters" type="checkbox" data-filter="year" data-filter-value="2017">2017
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="filters" type="checkbox" data-filter="year" data-filter-value="2016">2016
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="filters" type="checkbox" data-filter="year" data-filter-value="2015">2015
                    </label>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-6">
                            <select class="form-control filters" data-filter="year" data-from-to="From">
                                <option disabled selected value>От</option>
                                <option>2014</option>
                                <option>2013</option>
                                <option>2012</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control filters" data-filter="year" data-from-to="To">
                                <option disabled selected value>До</option>
                                <option>2016</option>
                                <option>2015</option>
                                <option>2014</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="producer">
        <div class="panel panel-default filters producer">
            <div class="panel-body">
                <span th:text="#{filter.manufacturer}">Producer</span>
                <div class="checkbox">
                    <label>
                        <input class="filters"
                               data-filter="producer"
                               type="checkbox"
                               value="Apple">Apple
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="filters"
                               data-filter="producer"
                               type="checkbox"
                               value="Samsung">Samsung
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="filters"
                               data-filter="producer"
                               type="checkbox"
                               value="Xiaomi">Xiaomi
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="price">
        <div class="panel panel-default filters price">
            <div class="panel-body">
                <span th:text="#{filter.price}">Price</span>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input class="filters form-control"
                                   data-filter="price"
                                   data-from-to="From"
                                   type="text"
                                   placeholder="От">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input class="filters form-control"
                                   data-filter="price"
                                   data-from-to="To"
                                   type="text"
                                   placeholder="До">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:fragment="OS">
        <div class="panel panel-default filters">
            <div class="panel-body">
                <span th:text="#{filter.os}">OS</span>
                <div class="checkbox">
                    <label>
                        <input class="filters"
                               type="checkbox"
                               data-filter="os"
                               value="Android">Android
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="filters"
                               type="checkbox"
                               data-filter="os"
                               value="Windows phone">Windows phone
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="filters"
                               type="checkbox"
                               data-filter="os"
                               value="Apple iOS">Apple iOS
                    </label>
                </div>
            </div>
        </div>
    </div>


</head>